* {
    margin: 0%;
    padding: 0%;
}

body {
    background: #000;
    color: white;

}

input {
    display: block;
    height: 40%;
    width: 100%;
    margin: 2%;
    border-radius: 20px;
    border: 1px solid white;
    text-align: center;
    font-size: 13pt;
    background: rgba(255,255,255,0.10);
    outline: none;

}

#acessar{
    color: white;
    background: #BC8F8F	;
    font-size: 17pt;
    cursor: pointer;
}
a {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#corpo-form {
    width: 25%;
    height: 25%;
    margin-left: 36%;
    text-align: center;
        
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
#tipo1{
    display:block;
    margin-left: 5%;
}

#opcao1{
    margin-top: 5%;
}

.opcoes1{
    margin-top: -6%;
    margin-left: 37%;
}

#tipo2{
    margin-left:0%;
    margin-top: 2%;
}
.opcoes2{
    margin-top: -6%;
    margin-left: 15%;
}

#tipo3{
    margin-left:0%;
    margin-top: 3%;
}
.opcoes3{
    margin-top: -6%;
    margin-left: 15%;
}

h1{
    text-align: center;
}
select {
   -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #fff;
    background-position: center right;
    background-repeat: no-repeat;
    border: 2px solid #AAA;
    border-radius: 5px;
    box-shadow:rgba(192,192,192, 0.5);
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 15%;
    margin-top: -2.8%;  
}

#corpo-form-cad{
    width: 25%;
    height: 25%;
    margin-left: 35%;
    margin-right: 40%;
    margin-top: 1%;
}


#entrar{
    margin-top:10%;
    text-align: center;
    
}

#erro{
    text-align: center;
    margin: auto;
}
.text-center{
    text-align: center;
    margin-top:0%;
    color: #706969;
}

hr{
    margin-top: 32%;
}

#fim{
        color: #706969;
   
}
#fim1{
    margin-top:-12%;
}
#fim2{
    margin-top:15%;
}